<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clement.studentplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".database.TermProvider"
            android:authorities="com.example.clement.studentplanner.termprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.EventProvider"
            android:authorities="com.example.clement.studentplanner.eventprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.CourseProvider"
            android:authorities="com.example.clement.studentplanner.courseprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.AssessmentProvider"
            android:authorities="com.example.clement.studentplanner.assessmentprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.PhotoProvider"
            android:authorities="com.example.clement.studentplanner.photoprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.MentorProvider"
            android:authorities="com.example.clement.studentplanner.mentorprovider"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name=".database.CourseMentorProvider"
            android:authorities="com.example.clement.studentplanner.coursementorprovider"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/title_course_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.MainActivity"/>
        </activity>
        <activity
            android:name=".TermDetailActivity"
            android:label="Term Detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.MainActivity"/>
        </activity>
        <activity
            android:name=".AssessmentDetailActivity"
            android:label="Assessment Detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.MainActivity"/>
        </activity>
        <activity
            android:name=".input.AssessmentDataEntryActivity"
            android:label="Add Assessment"
            android:parentActivityName=".CourseDetailActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.CourseDetailActivity"/>
        </activity>
        <activity
            android:name=".input.TermDataEntryActivity"
            android:label="Add Term"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.MainActivity"/>
        </activity>
        <activity
            android:name=".input.CourseDataEntryActivity"
            android:label="Add Course"
            android:parentActivityName=".TermDetailActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.TermDetailActivity"/>
        </activity>
        <activity
            android:name=".input.MentorDataEntryActivity"
            android:label="Add Course Mentor"
            android:parentActivityName=".CourseDetailActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.CourseDetailActivity"/>
        </activity>
        <activity
            android:name=".input.MentorPickerActivity"
            android:label="Choose Course Mentor"
            android:parentActivityName=".CourseDetailActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.clement.studentplanner.CourseDetailActivity"/>
        </activity>
    </application>
</manifest>